.git
.idea
.DS_Store
*.log
*.sql
*.pid
*.seed
.htaccess
.lock-wscript
node_modules
build/Release
logs
lib-cov
coverage

vendor/composer/LICENSE

/vendor/aristath/kirki/^\.
/vendor/aristath/kirki/docs/
/vendor/aristath/kirki/tests/
/vendor/aristath/kirki/build.sh
/vendor/aristath/kirki/CODE_OF_CONDUCT.md
/vendor/aristath/kirki/composer.json
/vendor/aristath/kirki/example.php
/vendor/aristath/kirki/Gruntfile.js
/vendor/aristath/kirki/package.json
/vendor/aristath/kirki/phpcs.ruleset.xml
/vendor/aristath/kirki/phpunit.xml
/vendor/aristath/kirki/phpunit.xml.dist
/vendor/aristath/kirki/README.md
/vendor/aristath/kirki/readme.txt
