.footer-widgets {
  padding: 15px 40px 40px 40px;
  color: #9e9d9b;

  .widget-title {
    margin-bottom: 15px;
    color: #4e4e4d;
  }

  a,
  a:visited,
  a:hover {
    color: #f58053;
  }

  a:hover {
    text-decoration: underline;
  }
}