.footer-widgets {
  padding: 15px 40px 40px 40px;
  color: #9e9d9b;

  .widget-title {
    margin-bottom: 15px;
    color: #4e4e4d;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 110%;
      width: 129px;
      height: 5px;
      background: url('../img/title-line-footer.png') center center no-repeat;
      background-size: auto 100%;
    }
  }

  a,
  a:visited,
  a:hover {
    color: #f58053;
  }

  a:hover {
    text-decoration: underline;
  }
}