.inside-header {
  padding: 0;
}

.site-logo {
  padding: 0.3em 0;
}

.page-header-image.crdm_page-header {
  margin-top: 0;
  position: relative;
}

.crdm_page-header_captions {
  position: absolute;
  left: 0;
  bottom: 1.5em;
  min-width: 33%;
  padding: 0.5em 1.2em;
  background-color: rgba(196, 219, 122, 0.79);

  h1 {
    margin: 0 0 0.25em 0;
    font-size: 1.8rem;
    line-height: 1.125;
    color: #3c2314;
  }

  h2 {
    margin: 0;
    font-size: 1rem;
    line-height: 1.2;
    color: #3c2314;
  }

  @media (max-width: 768px) {
    left: 0 !important;
    right: auto !important;
    top: 0 !important;
    bottom: 0 !important;
  }
}

/*#slides.design-3 .slider-content {
  top: 60%;
  left: 0;
  background-color: rgba(196, 219, 122, 0.79);
}

#slides.design-3 .slider-content h1 {
  color: #3c2314;
  text-shadow: none;
  font-size: 30px;
}*/